{% extends 'components/base.html' %}

{% load static %}

{% block container %}

	<!-- section main content -->
	<section class="main-content">
		<div class="container-xl">

			<div class="row gy-4">

				<div class="col-lg-8">

					<!-- section header -->
					<div class="section-header">
						<h3 class="section-title">Latest Posts</h3>
						<img src={% static "images/wave.svg" class="wave" %} alt="wave" />
					</div>

					<div class="padding-30 rounded bordered">

						<div class="row">
						{% for post in post %}
							<div class="col-md-12 col-sm-6">
								<!-- post -->
								<div class="post post-list clearfix">
									<div class="thumb rounded">
										<span class="post-format-sm">
											<i class="icon-picture"></i>
										</span>
										<a href={% url "blog_detail" post.blog_slug %}>
											<div class="inner">
												<img src={{post.image.url}} alt="post-title" />
											</div>
										</a>
									</div>
									<div class="details">
										<ul class="meta list-inline mb-3">
											<li class="list-inline-item"><a href="#"><img src={% static "images/other/mdsahil.png" %}  class="author rounded-circle" style="height: 25px; width: 25px;" alt="author"/>{{post.author}}</a></li>
											<li class="list-inline-item"><a href="#">Trending</a></li>
											<li class="list-inline-item">{{post.date}}</li>
										</ul>
										<h5 class="post-title"><a href={% url "blog_detail" post.blog_slug %}>{{ post.title|slice:":60" }}...</a></h5>
										<p class="excerpt mb-0">{{ post.content|slice:":120" }}...</p>
										<div class="post-bottom clearfix d-flex align-items-center">
											<div class="social-share me-auto">
												<button class="toggle-button icon-share"></button>
												<ul class="icons list-unstyled list-inline mb-0">
													<li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
													<li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
													<li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
													<li class="list-inline-item"><a href="#"><i class="fab fa-pinterest"></i></a></li>
													<li class="list-inline-item"><a href="#"><i class="fab fa-telegram-plane"></i></a></li>
													<li class="list-inline-item"><a href="#"><i class="far fa-envelope"></i></a></li>
												</ul>
											</div>
											<div class="more-button float-end">
												<a href="blog-single.html"><span class="icon-options"></span></a>
											</div>
										</div>
									</div>
								</div>
							</div>
						{% endfor %}
						</div
						>
						<!-- load more button -->
						<div class="text-center">
							<button class="btn btn-simple">Load More</button>
						</div>

					</div>

				</div>

{% include "components/sidebar.html" %}

			</div>

		</div>
	</section>

{% endblock container %}
